@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://www.allrecipes.com/thmb/fFW1o307WSqFFYQ3-QXYVpnFj6E=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/48727-Mikes-homemade-pizza-DDMFS-beauty-4x3-BG-2974-a7a9842c14e34ca699f3b7d7143256cf.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Пепперони</h5>
                <p class="card-text">Пикантная пепперони, увеличенная порция моцареллы, томаты, фирменный томатный соус.</p>
                <p class="card-text">499₽ </p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614548194_3-p-pitstsa-na-belom-fone-5.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Боварская</h5>
                <p class="card-text">Баварские колбаски, маринованные огурчики, красный лук, томаты, горчичный соус, моцарелла, фирменный томатный соус.</p>
                <p class="card-text">599₽ </p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://sun6-21.userapi.com/impg/TPr4Cm4_Sl-IcPx7za1H8OzMT9cfL7m8AuRq4g/UM6GC_tbtGs.jpg?size=1459x942&quality=95&sign=fcd5fe7aff670b4975850747173c56e3&type=album" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Песта</h5>
                <p class="card-text">Цыпленок, соус песто, кубики брынзы, томаты, моцарелла, фирменный соус альфредо.</p>
                <p class="card-text">699₽ </p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://maxvps.ru/wp-content/uploads/6/e/b/6eb7f818d8d14fa4800d5dbc27e682e4.jpeg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Карбонара</h5>
            <p class="card-text">Бекон, сыры чеддер и пармезан, моцарелла, томаты, красный лук, чеснок, фирменный соус альфредо, итальянские травы.</p>
                <p class="card-text">799₽ </p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
        <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://sergiev-posad.japanesesushi.ru/wp-content/uploads/2021/06/bekon1080x720_-1080x720-1.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Гавайская</h5>
        <p class="card-text">Цыпленок, ананасы, моцарелла, фирменный соус альфредо.</p>
                <p class="card-text">899₽ </p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-2">
            <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://mykaleidoscope.ru/x/uploads/posts/2023-12/1703127719_mykaleidoscope-ru-p-zalivnaya-pitstsa-na-kefire-oboi-82.jpg" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Маргарита</h5>
        <p class="card-text">Увеличенная порция моцареллы, томаты, итальянские травы, фирменный томатный соус.</p>
                <p class="card-text">999₽ </p>
                <a href="#" class="btn btn-primary">Добавить в корзину</a>
            </div>
        </div>
    </div>
 </div
 
